/* * {
    outline: 2px solid red;
} */

div {
    outline: 2px solid black;
    /* display: inline; */
    /* padding-bottom: 10px;
    padding-top: 10px; */
    display: block;
    margin-top: 10px;
}

p {
    outline: 2px solid red;
    /* display: block; */
    /* display: inline-block; */
    display: inline;
    margin-left: 10px;
    width: 100px;
    /* padding-bottom: 10px; */
}

div, p {
    background-color: beige;
}

.div .child {
    font-weight: bolder;
    font-size: 50px;
}